.top_link{
    text-decoration: none;
    text-align: right;
    color:black;
}

.top_link:hover{
    text-decoration: underline;
    text-align: right;
    color:black;
}

.input_line{
    width: 400px;
    height: 40px;
    margin-bottom: 15px;
    border-radius: 20px;
    padding-left:15px;
    padding-right:15px;
    border: solid 1px grey;
}

.logo_container{
    position:relative;
    margin-top: 100px;
}

.logo_text{
    position:absolute;
    left:215px;
    bottom:0;
    white-space:nowrap; 
    color:blue;
}

.google_logo{
    width: 74px;
    height: 24px;
}

.text_advanced{
    width: 96%;
    margin: 40px 2% 0 45px;   
    font-weight:bold;
    font-size: 20px;
    color:red;
    
}

.google_form{
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    padding: 40px 2% 0px 45px;   
}

.input_line_advanced{
    width: 100%;
}

.input_line_adv_c{
    width: 40%;
    min-width: 100px;
}

.text_adv_comment{
    font-size: 11px;
 }

 .text_adv_name{
    font-size: 13px;
 }
